<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
                Base Page
            {% endblock %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        {% block extra_head %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">MiniStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link {% if request.path == url_for('home_page') %} active {% endif %} " aria-current="page" href="{{ url_for('home_page') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == url_for('about_page') %} active {% endif %} " href="{{ url_for('about_page') }}">About</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == url_for('product_page') %} active {% endif %}" href="{{ url_for('product_page') }}">Products</a></li>
                        
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
                     {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-person-circle"></i> Hello, {{ current_user.name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('account_page') }}">
                                        <i class="bi-person-lines-fill"></i> Thông tin tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('logout_page') }}">
                                        <i class="bi-box-arrow-right"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                       

                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-person-circle"></i> Tài khoản
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('login_page') }}">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('register_page') }}">Đăng ký</a></li>
                            </ul>
                        </li>


                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
      
        
        {% block content %}
        
        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark " >
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Quang Huy Website 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
</html>
